

.container-{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    display: flex;
    gap: 50px;
    padding: 20px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

span a:hover{
    color: rgb(133, 130, 125);
}

.btn{
    background-color: #323233;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    padding: 15px;
}

.btn:hover{
    background-color: #adadb0;
}


.img-container{
  width: clamp(160px, 20vw, 260px);
  display: flex;
}