.badge-container {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 10;
  height: 0;
}

.banner-badge {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  width: 150px;
  height: auto;
}
